.app-container {
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.loader-wrapper {
  text-align: center;
  margin-top: 50px;
}

.error-message {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.search-bar {
  margin-top: 100px;
}

.search-results-three-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-results-single-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.giphy-item-three-column {
  flex: 1 0 30%;
  display: flex;
  justify-content: center;
}

.giphy-item-single-column {
  flex: 1 0 90%;
  display: flex;
  justify-content: center;
}

.giphy-item-image-three-column {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.giphy-item-image-single-column {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 600px;
  height: auto;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-bar-icon {
  font-size: 36px;
  margin-left: 10px;
  cursor: pointer;
}
